// fonts import
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0, 300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import "variables";

// standarization
html {
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
}

h1, 
h2, 
h3 {
  font-family: "Roboto Slab", Roboto, sans-serif;
  color: $blue;
  text-shadow: 0 1px black;
}

h1 {
  font-size: 40px;
  line-height: 65px;
}

h3 {
  margin-left: 30px;
  margin-top: 10px;
}

