
footer {
  text-align: center;
  font-size: 16px;
  color: gray;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 10px);
}

@media screen and (max-width: 700px){
  footer {
    position: static;
    padding-bottom: 30px;
  }
}