@import "variables";

nav {
  background-color: $light1;
  height: 65px;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);

  div.logo {
    display: flex;
    height: 100%;
    width: auto;

    img {
      height: 90%;
      margin: 3px 10px;
    }

    h1 {

    }
  }
}